*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  word-spacing: 30px;
}
 body{
  background-color: #b3b3ff;

 }
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  background-color: #ff1a53;
  border-color: #ff1a1a;
 

  
}

h1{
  color: #484848;
  font-size: 25px;
  font-family: 'Audiowide', cursive;
  margin-left: 12px;
  cursor: pointer
}
h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "'";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}

.unordered-list, a{
  display: flex;
  align-items: center;
  padding: 14px;
  list-style: none;
  color: white;
  font-family: cursive;

}

.sidebar, li{
  display: block;
  background-color: #33334d;
  margin-left: 30%;
  margin-right: 30%;
  word-spacing: 10px;
  list-style: none;
  text-align: center;

  
  
}
.line{
  background-color: grey;

}
.line1{
  background-color: rgb(3, 252, 169);
  width: 100%;

}

a{
  word-spacing: 2px;
  opacity: 0.9;
  color: #ffa64d;

}
.p1{

padding-bottom: 10px;

 
}
.line2{
   background-color: grey;
   width: 100%;

}

.container2{
  display: block;
  background-color: #1a1a1a;
  padding-bottom: 0.3%;
  text-align: left;
  color: #8c8c8c;


}
.abt{

  padding-left: 15%;

  
}

.owner{
 width: 50px;
 border-radius: 40px;
 margin-left: 43%;
 border: 2px solid grey;

}

.line3{
  width: 100%;
  color: grey;

 

}

.contact{

  padding-left: 35%;
  padding-right: 35%;

 
}

.lin{
  width: 20%;
}


