*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
 

}
 body{
  background-color: #b3b3ff;
  max-width: 100%;
 

 }


.container{
  display: block;
 
  background-color: #ff4d94;
  text-align: center;


}

h1{
  color: #484848;
  font-size: 25px;
  font-family: 'Tourney', cursive;
  height: 50.0,
  color: Colors.blue,ursive;
  margin-left: 12px;
  cursor: pointer;

}
h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "'";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}



.line{
  background-color: grey;
}

h2{
  display: block;
  text-align: center;
  word-spacing: 1px;
  padding-top: 5%;
  margin-bottom: -12%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  background-color: rgb(212, 15, 45);
  border-radius: 20px;
  border-color: grey;

}

.container1 {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #8585e0;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 7%;

    



}
.prog{

  word-spacing: 2px;
 

}

.c{
  display: block;
  word-spacing: 2px;
  padding-top: 20px;
  padding-bottom: inherit;
  padding-left: 30px;
  font-size: 18px;
  background-color: grey;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: -30%;
  margin-right: -30%;
  border-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;


}

.Output{
  display: block;
  word-spacing: 2px;
  padding-top: 2px;
  padding-bottom: 20%;
  padding-left: 20px;
  font-size: 20px;
  background-color: grey;
  margin-left: -30%;
  margin-right: -30%;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;

}
.op{
  word-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2%;

}

.image{
  background-size: cover;
 
}
